In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('Diwali Sales Data.csv', encoding='unicode_escape')

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.drop(['Status', 'unnamed1'], axis=1, inplace=True)

About data

In [ ]:
df.info()

To check null value

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

to remove null value

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df['Amount'] = df['Amount'].astype('int')

In [ ]:
df['Amount'].dtype

In [ ]:
df.columns

In [ ]:
df.rename(columns= {'Marital_Status' : 'Shaadi'})

In [ ]:
df.describe()

In [ ]:
df[['Age','Orders', 'Amount']].describe()

# Exploratory Data Analysis

Gender

In [ ]:
df.columns

In [ ]:
sns.countplot(x = 'Gender', data=df)

In [ ]:
ax = sns.countplot(x = 'Gender', data=df)

for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [ ]:
sales_gen = df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(x = 'Gender', y='Amount', data=sales_gen)

From above graphs we can see that most of the buyers are females and even the purchasing power of females are greater than men

Age

In [ ]:
df.columns

In [ ]:
ax = sns.countplot(x='Age Group',data=df, hue='Gender')
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
# total amount vs age group 
sales_age = df.groupby(['Age Group'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(x = 'Age Group', y = 'Amount',data=sales_age)

From above graph we can see that most of the buyers are of age group between 26-35 years female

State

In [ ]:
df.columns

In [ ]:
sns.countplot(x='State',data=df)

for number of orders and state

In [ ]:
sales_state = df.groupby(['State'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)
sns.set(rc={'figure.figsize':(17,5)})
sns.barplot(x='State', y='Orders',data=sales_state)

for no. of amount

In [ ]:
sales_state = df.groupby(['State'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)
sns.set(rc={'figure.figsize':(17,5)})
sns.barplot(x='State', y='Amount',data=sales_state)

From above graphs we can see that most of the orders & total sales/amount are from Uttar Pradesh, Maharashtra and Karnataka respectively

Marital_Status

In [ ]:
df.columns

In [ ]:
sns.countplot(x='Marital_Status', data=df)

In [ ]:
ax = sns.countplot(x = 'Marital_Status', data=df)

sns.set(rc={'figure.figsize': (5,1)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_status = df.groupby(['Marital_Status', 'Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.set(rc={'figure.figsize':(6,5)})
sns.barplot(x = 'Marital_Status', y='Amount', hue='Gender', data=sales_status)

From above graphs we can see that most of the buyers are married (women) and they have high purchasing power

Occupation

In [ ]:
df.columns

In [ ]:
ax = sns.countplot(x='Occupation',data=df)

sns.set(rc={'figure.figsize':(30,5)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_state = df.groupby(['Occupation'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.set(rc={'figure.figsize':(30,5)})
sns.barplot(data = sales_state, x = 'Occupation',y= 'Amount')

From above graphs we can see that most of the buyers are working in IT, Healthcare and Aviation sector

Product Category

In [ ]:
df.columns

In [ ]:
ax = sns.countplot(x='Product_Category', data=df)

sns.set(rc={'figure.figsize':(50,5)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_state = df.groupby(['Product_Category'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)

sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data = sales_state, x = 'Product_Category',y= 'Amount')

From above graphs we can see that most of the sold products are from Food, Clothing and Electronics category

In [ ]:
sales_state = df.groupby(['Product_ID'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)

sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data = sales_state, x = 'Product_ID',y= 'Orders')

In [ ]:
fig1, ax1 = plt.subplots(figsize=(12,7))
df.groupby('Product_ID')['Orders'].sum().nlargest(10).sort_values(ascending=False).plot(kind='bar')

Married women age group 26-35 yrs from UP, Maharastra and Karnataka working in IT, Healthcare and Aviation are more likely to buy products from Food, Clothing and Electronics category