In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [5]:
df = pd.read_csv("shopping_trends.csv")

About data

In [6]:
print(df)

      Customer ID  Age  Gender Item Purchased     Category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      Review Rating Subscription Status Payment Method   Shipping Type  \
0               3.1                 Yes    Credit Card         Express
1               3.1                 Yes  Bank Transfer         Express
2               3.1                 Yes           Cash   Free Shipping
3               3.5                 Yes         PayPal    Next Day Air
4               2.7                 Yes           Cash   Free Shipping
...             ...                 ...            ...             ...
3895            4.2                  No           Cash  2-Day Shipping
3896            4.5                  No         PayPal    Store Pickup
3897            2.9                  No    Credit Card        Standard
3898            3.8                  No         PayPal         Express
3899            3.1                  No  Bank Transfer    Store Pickup

     Discount Applied Promo Code Used  Previous Purchases  \
0                 Yes             Yes                  14
1                 Yes             Yes                   2
2                 Yes             Yes                  23
3                 Yes             Yes                  49
4                 Yes             Yes                  31
...               ...             ...                 ...
3895               No              No                  32
3896               No              No                  41
3897               No              No                  24
3898               No              No                  24
3899               No              No                  33

     Preferred Payment Method Frequency of Purchases
0                       Venmo            Fortnightly
1                        Cash            Fortnightly
2                 Credit Card                 Weekly
3                      PayPal                 Weekly
4                      PayPal               Annually
...                       ...                    ...
3895                    Venmo                 Weekly
3896            Bank Transfer              Bi-Weekly
3897                    Venmo              Quarterly
3898                    Venmo                 Weekly
3899                    Venmo              Quarterly

[3900 rows x 19 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

In [8]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

In [ ]:
df.describe()

In [ ]:
print('columns with numeric data')
print(df.select_dtypes(include='number').columns.tolist())
print('columns with non numerica data')
print(df.select_dtypes(exclude='number').columns.tolist())

In [ ]:
df.rename(columns= {'Purchase Amount (USD)':'Amount'},inplace=True)

In [8]:
df.isnull().sum()

Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

# Exploratory data analysis

In [9]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')

Gender

In [ ]:
sns.countplot(x = 'Gender', data=df)

In [ ]:
ax = sns.countplot(x='Gender', data=df)

for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)

In [ ]:
sales_gen = df.groupby(['Gender'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(x='Gender',y='Amount', data=sales_gen)

From above graphs we can see that most of the buyers are males and even the purchasing power of males are greater than female.

According to Age

In [ ]:
df.columns

In [ ]:
sns.set(rc={'figure.figsize':(19,5)})

sns.countplot(x='Age', data=df)

In [ ]:
ax = sns.countplot(x='Age', data=df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df.groupby(['Age'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)

In [ ]:
sales_gen = df.groupby(['Age'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(x='Age', y = 'Amount', data=df)

Above graph show that age no. 67 have more purchase. And age 53 have more purchasing in the term of money

Item Purchased

In [ ]:
df.columns

In [ ]:
sns.countplot(x='Item Purchased', data=df)

In [ ]:
ax = sns.countplot(x='Item Purchased', data=df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df.groupby(['Item Purchased'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)

In [ ]:
sales_gen = df.groupby(['Item Purchased'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(x='Item Purchased', y = 'Amount', data=df)

from above graph we know that jewelry pants and blouse have more sale and t-shirt have more amount of sale

Category

In [ ]:
df.columns

In [ ]:
sns.countplot(x='Category', data=df)

In [ ]:
ax = sns.countplot(x='Category', data=df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df.groupby(['Category'], as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)

In [ ]:
sales_gen = df.groupby(['Category'], as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(x='Category', y = 'Amount', data=df)

from the above graph we know that clothing categories have more sell and clothing have more amount of sale.

size

In [ ]:
df.columns

In [ ]:
sns.countplot(x='Size', data=df)

In [ ]:
ax = sns.countplot(x='Size', data=df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df.groupby(['Size'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [ ]:
sales_gen = df.groupby(['Size'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(x='Size', y='Amount', data=df)

from the above graph we can know that medium size is sell more and also in term of money the medium size is sell more

Color

In [ ]:
df.columns

In [ ]:
sns.countplot(x='Color', data=df)

In [ ]:
ax = sns.countplot(x='Color', data=df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df.groupby(['Color'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [ ]:
sales_gen = df.groupby(['Color'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(x='Color', y='Amount', data=df)

from the above graph olive is the most sell color and green is most in the term in amount.

Season.

In [ ]:
df.columns

In [ ]:
sns.countplot(x='Season', data=df)

In [ ]:
ax = sns.countplot(x='Season', data=df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df.groupby(['Season'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [ ]:
sales_gen = df.groupby(['Season'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(x='Season', y='Amount', data=sales_gen)

from the above graph we know that maximum sale is in spring but in trem of amount it is in Fall.

Review Rating

In [ ]:
df.columns

In [ ]:
sns.countplot(x='Review Rating', data=df)

In [ ]:
am = sns.countplot(x='Review Rating', data=df)
for bars in am.containers:
    am.bar_label(bars)

In [ ]:
df.groupby(['Review Rating'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [ ]:
sales_gen = df.groupby(['Review Rating'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(x='Review Rating', y='Amount', data=sales_gen)

from the above graph 3.4 is more rating and also in the term of amount 3.4 is the most rating

In [ ]:
df.columns

In [ ]:
sns.countplot(x='Subscription Status', data=df)

In [ ]:
df.groupby(['Subscription Status'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [ ]:
sales_gen = df.groupby(['Subscription Status'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(x= 'Subscription Status', y = 'Amount', data=df)

From above graphs we can see that most of the buyers have no subscription and even the purchasing power of non-subscription are greater than subscription.

# with the help of data we plotted some graph and analysing the data and we found some important data which can be used in future.
1. From above graphs we can see that most of the buyers are males and even the purchasing power of males are greater than female.
2. Above graph show that age no. 67 have more purchase. And age 53 have more purchasing in the term of money.
3. From above graph we know that jewelry pants and blouse have more sale and t-shirt have more amount of sale.
4. From the above graph we know that clothing categories have more sell and clothing have more amount of sale.
5. From the above graph we can know that medium size is sell more and also in term of money the medium size is sell more.
6. From the above graph olive is the most sell color and green is most in the term in amount.
7. From the above graph we know that maximum sale is in spring but in trem of amount it is in Fall.
8. From the above graph 3.4 is more rating and also in the term of amount 3.4 is the most rating.
9. From above graphs we can see that most of the buyers have no subscription and even the purchasing power of non-subscription are greater than subscription.